	/*Example*/

/*@font-face {
	font-family: "RobotoLight";
	src: url("..media/fonts/roboto-light.ttf") format('truetype');
	font-weight:400;
}

@font-face {
	font-family: "RobotoBold";
	src: url("..media/fonts/roboto-bold.woff");
}

@font-face {
	font-family: "RobotoBlack";
	src: url("..media/fonts/roboto-black.woff");
}

@font-face {
	font-family: "RobotoMedium";
	src: url("..media/fonts/roboto-medium.woff");
}
*/


/*@font-face {*/
    /*font-family: 'MyWebFont';*/
    /*src: url('webfont.eot'); !* IE9 Compat Modes *!*/
    /*src: url('webfont.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
    /*url('webfont.woff2') format('woff2'), !* Super Modern Browsers *!*/
    /*url('webfont.woff') format('woff'), !* Pretty Modern Browsers *!*/
    /*url('webfont.ttf')  format('truetype'), !* Safari, Android, iOS *!*/
    /*url('webfont.svg#svgFontName') format('svg'); !* Legacy iOS *!*/
/*}*/


@font-face {
    font-family: "PTSans";
    src: url("../media/fonts/PTS75F.ttf") format('truetype');
    font-weight:bold;
}
@font-face {
    font-family: "AkzidenzGroteskPro-LightCn";
    src: url("../media/fonts/AkzidenzGroteskPro-LightCn.otf") format('opentype');
    font-weight:400;
}
@font-face {
    font-family: "AkzidenzGroteskPro-Cn";
    src: url("../media/fonts/AkzidenzGroteskPro-Cn.otf") format('opentype');
    font-weight:400;
}
@font-face {
    font-family: "PTSans-Regular";
    src: url("../media/fonts/PTS55F.ttf") format('truetype');
    font-weight:400;
}