@media screen and (min-width:0\0) {  
	header {
	    left: 50%;
	    margin-left: -585px;
	}
	.mavro-logo {
	    display: block;
	}
	.flag-icon{
		float:left;
	}
	.try-mavro-text {
	    top: 10px;
	}

}