.clear {
    clear: both;
}

/*======================== header styles ============================*/

header {
        /*background: rgba(0, 255, 0, 0.1);*/
    height: 51px;
    max-width: 1170px;
    margin: auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
    padding-top: 55px;
    position: fixed;
    color: #fff;
}
.mavro-logo {
    width: 178px;
    height: 51px;
}
header .mavro-logo {
    text-transform: uppercase;
}
.top-nav {
    text-transform: uppercase;
    font: bold 0.82rem/1 PTSans;
}
.top-nav ul {
    padding-top: 18px;
    margin-left: 12px;
}
.top-nav > ul > li {
    display: inline-block;
    margin-right: 45px;
    vertical-align: middle;
}
.top-nav > ul > li:last-of-type {
    display: inline-block;
    margin-right:0;
}
.sign-in-wrap {
    width: 291px;
    height: 49px;
}

.try-mavro {
    width: 193px;
    border: 1px solid rgba(255, 255, 255, 0.23);
    border-radius: 21px;
    padding: 6px;
    float: left;
}
.try-mavro > * {
    display: inline-block;
}
.try-mavro-text {
    text-transform: uppercase;
    font: bold 0.82rem/1 PTSans;
    vertical-align: super;
    position: relative;
    top: -4px;
    left: 5px;
}
.sign-in {
    background: #1abc9c;
    border-radius: 85px;
    height: 51px;
    width: 96px;
    float: right;
    text-align: center;
    font: bold 0.9rem/1 PTSans;
    text-transform: uppercase;
    margin-left: -20px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
}

/*======================== end header styles ============================*/


/*======================== block news styles ============================*/

section.block-news {
    background: url("../media/images/section-1-bg.jpg") no-repeat;
    background-size: 100% 100%;
    height:798px;
    width:100%;
}
.news-content-wrap {
        /*background: rgba(0,0,255,0.1);*/
    height:100%;
    max-width: 1170px;
    margin: 0 auto;
    color: #fff;
    /*display: flex;*/
    /*align-items: center;*/
}
.news-content {
        /*background: rgba(0,255,0,0.1);*/
    height: 365px;
    width: 387px;
    padding-top: 220px;
    display: inline-block;
}
.news-header {
    font: 400 10.3rem AkzidenzGroteskPro-LightCn;
    text-transform: uppercase;
    margin-left: -8px;
}
.news-subheader {
    font: 400 3rem AkzidenzGroteskPro-Cn;
    text-transform: uppercase;
    margin-top: -16px;
}
.news-description {
    font:400 1.5rem AkzidenzGroteskPro-LightCn;
}
.buttons-wrap {
    width: 382px;
    height: 46px;
    border: 2px solid #1abc9c;
    border-radius: 250px;
    margin-top: 35px;
}

.buttons-wrap button {
    height: 100%;
    font: bold 0.88rem/1 PTSans;
    color: white;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    border: none;
}

button.register {
    background: none;
    width: 171px;
    border: none;
    float: left;
    margin-left: 10px;
}
button.watch-video {
    background: #00bdc7;
    border: none;
    width: 195px;
    float: right;
    border-radius: 21px;
}
.man-img {
    background:url("../media/images/man.png") no-repeat;
    background-size: contain;
    width: 636px;
    height: 681px;
    bottom: -117px;
    right: -7px;
    position: relative;
    float: right;
    display: inline-block;
}

/*======================== end block news styles ==========================*/

/*======================== block how-works styles ==========================*/

.how-works {
    width:100%;
    height:747px;
    background:#fff;
}
.section2-overlay {
    width:100%;
    height:100%;
    position: relative;
    background:url("../media/images/section2-overlay-bg.png") no-repeat;
    background-size: contain;
}
.section2-content {
    /*height: 100%;*/
    max-width: 1170px;
    margin:0 auto;
    padding-top:55px;

}
.how-works-header {
    text-transform: uppercase;
    color:#292935;
    margin:0 auto;
    text-align:center;
    font:400 4.5rem AkzidenzGroteskPro-LightCn;
    margin-bottom: 58px;
}
.text-content {
        /*background: rgba(0,255,0,0.2);*/
    width: 468px;
    height:390px;
    font: 400 0.99rem/1.5 PTSans-Regular;
    float:left;
}
.text-content-p1 {
    margin-bottom: 28px;
}
.text-content-p1 span {
    color:#093a93;
    font:400 3rem AkzidenzGroteskPro-LightCn;
}
.text-content-p2 {
    margin-bottom: 28px;
}
.devices-img {
    width: 60%;
    min-width: 500px;
    float: right;
    position: relative;
    left: -8px;
    top: -8px;
}

/*======================== end block how-works styles ==========================*/

