.clear {
    clear: both;
}

/*======================== header styles ============================*/

header {
    height: 51px;
    max-width: 1170px;
    margin: auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
    padding-top: 55px;
    position: absolute;
    color: #fff;
    z-index: 5;
}
.mavro-logo {
    width: 178px;
    height: 51px;
    background: url(../media/images/logo-white.png) no-repeat;
    background-size: contain;
}
header .mavro-logo {
    text-transform: uppercase;
}
.top-nav {
    text-transform: uppercase;
    font: bold 0.82em PTSans;
    font-style: bold;
    text-shadow: 0 0 8px #093a93;
}
.top-nav ul {
    padding-top: 18px;
    margin-left: 12px;
}
.top-nav > ul > li {
    display: inline-block;
    margin-right: 45px;
    vertical-align: middle;
}
.top-nav > ul > li:last-of-type {
    display: inline-block;
    margin-right:0;
}
.top-nav > ul > li a {
    color:white;
}
.top-nav.nav-2 {
    display:none;
    position: fixed;
}
.sign-in-wrap {
    width: 291px;
    height: 49px;
}
.menu-sandwich {
    width: 32px;
    height: 32px;
    background: url(../media/images/menu-icon.png) no-repeat;
    background-size: contain;
    outline: none;
    border: none;
    margin-top: 11px;
    display:none;
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 10;
}
.try-mavro {
    width: 193px;
    border: 1px solid rgba(255, 255, 255, 0.23);
    border-radius: 21px;
    padding: 6px;
    float: left;
}
.try-mavro > * {
    display: inline-block;
}
.try-mavro-text {
    text-transform: uppercase;
    font: bold 0.82em/1 PTSans;
    vertical-align: super;
    position: relative;
    top: -4px;
    left: 5px;
    color:white;
    text-shadow: 0 0 8px #093a93;
}
.try-mavro-text:visited {
    color:white;
}
.sign-in {
    background: #1abc9c;
    border-radius: 85px;
    height: 51px;
    width: 96px;
    float: right;
    text-align: center;
    font: bold 0.9em/1 PTSans;
    text-transform: uppercase;
    margin-left: -20px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
}

/*======================== end header styles ============================*/


/*======================== block news styles ============================*/

section.block-news {
    background: url("../media/images/section-1-bg.jpg") no-repeat;
    background-size: cover;
    height:798px;
    width:100%;
}
.news-content-wrap {
    height:100%;
    max-width: 1170px;
    margin: 0 auto;
    color: #fff;
}
.news-content {
    height: 365px;
    width: 387px;
    padding-top: 220px;
    display: inline-block;
}
.news-header {
    font: 400 10.3em AkzidenzGroteskPro-LightCn;
    text-transform: uppercase;
    margin-left: -8px;
}
.news-subheader {
    font: 400 3em AkzidenzGroteskPro-Cn;
    text-transform: uppercase;
    margin-top: -16px;
}
.news-description {
    font:400 1.5em AkzidenzGroteskPro-LightCn;
}
.buttons-wrap {
    width: 382px;
    height: 46px;
    border: 2px solid #1abc9c;
    border-radius: 250px;
    margin-top: 35px;
}
.buttons-wrap button {
    height: 100%;
    font: bold 0.88em/1 PTSans;
    color: white;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    border: none;
}
button.register {
    background: none;
    width: 171px;
    border: none;
    float: left;
    margin-left: 10px;
}
button.watch-video {
    background: #00bdc7;
    border: none;
    width: 195px;
    float: right;
    border-radius: 21px;
}
.man-img {
    background:url("../media/images/man.png") no-repeat;
    background-size: contain;
    background-position-y: bottom;
    width: 636px;
    height: 681px;
    bottom: -117px;
    right: -7px;
    position: relative;
    float: right;
    display: inline-block;
}

/*======================== end block news styles ==========================*/

/*======================== block how-works styles ==========================*/

.how-works {
    width:100%;
    height:747px;
    background:#fff;
    background: url(../media/images/section2-overlay-bg.png) no-repeat;
    background-size: 100% 100%;
}
.section2-overlay {
    width:100%;
    height:100%;
    position: relative;
}
.section2-content {
    max-width: 1170px;
    margin:0 auto;
    padding-top:55px;
}
.how-works-header {
    text-transform: uppercase;
    color:#292935;
    margin:0 auto;
    text-align:center;
    font:400 4.5em AkzidenzGroteskPro-LightCn;
    margin-bottom: 58px;
}
.text-content {
    width: 468px;
    height:390px;
    font: 400 0.99em/1.5 PTSans-Regular;
    float:left;
    text-shadow: 0px 0px 6px white;
}
.text-content-p1 {
    margin-bottom: 28px;
}
.text-content-p1 span {
    color:#093a93;
    font:400 3em AkzidenzGroteskPro-LightCn;
}
.text-content-p2 {
    margin-bottom: 28px;
}
.devices-img {
    width: 60%;
    min-width: 500px;
    float: right;
    position: relative;
    left: -8px;
    top: -8px;
}

/*======================== end block how-works styles ==========================*/

/*======================== calculator block styles ==========================*/
.calculator{
    width: 100%;
    background: url("../media/images/section-3-bg.png") no-repeat;
    background-position: bottom;
    background-color: #f1f4f9;
}
.calculator > div{
    max-width: 810px;
    margin:0 auto;
    font: 400 0.99em/1.5 PTSans-Regular;
}
.calculator .mouse-icon{
    margin-top: -36px;
    position: relative;
    left: 44%;
}
.calculator .section2-content{
    padding-top: -5px;
}

.calculator-header{
    position: relative;
}
.calculator-header::after{
    content: "";
    background-color: #123998;
    display: block;
    height: 23px;
    width: 2px;
    margin: 12px auto 0 auto;
}
.slider-wrap{
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    font-size:16px;
    padding: 0 5px;
    margin-top: 75px;
}
.slider-wrap div{
    position: relative;
    left: -60px;
}
.slider-wrap > div{
    text-align: center;
}
.slider-wrap .slider-point-img{
    width: 80px;
    height: 80px;
    background-image: url(../media/images/slider-point-value.png);
}
.slider-img{
    width: 100%;
}
.prise-wrap{
    border-radius: 6px;
    background-color: #e1f9fb;
}
.price-value{
    margin-left: 15px;
    margin-bottom: 2px;
}
.numbers{
    padding-left: 20px;
    margin-top: -11px;
    font: 400 0.92em/1.5 PTSans-Regular;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}
.numbers .new-number{
    /*width: 246px;*/
    display: block;
    float: left;
}
.invest-wrap{
    height: 178px;
    padding: 1px 5px 0 5px;
    margin-top: 57px;
}
.invest{
    float:left;
    text-align: center;
}

.invest:nth-of-type(2) {
    margin: 0 90px;
    width: 352px;
    border-right: 1px dotted #b4b7bc;
    border-left: 1px dotted #b4b7bc;
}
.invest-content1 {
    height: 85px;
    margin-bottom: 27px;
}
.invest:last-child{
    border:none;
}
.invest span{
    font:400 2.2em PTSans-Regular;
}
.invest p{
    line-height: 23px;
}
.balans-mavro{
    background-size: 100% 100%;
    color: #fff;
    font: bold 0.88em/1.5 PTSans;
    text-align: center;
    margin-top: 38px;
    line-height: 22px;
    width: 100%;
}
.balans-mavro p{
    font: 400 1em/1.5 PTSans-Regular;
    max-width: 712px;
    text-align: center;
    margin: 0 auto;
}
.balans-mavro h4{
    font-weight: normal;
    padding-bottom: 10px;
    text-transform: uppercase;
}

/*======================== end calculator block styles ==========================*/

/*======================== bitcoin block styles ==========================*/
.calculator-header{text-transform: uppercase;
    color:#292935;
    margin:0 auto;
    text-align:center;
    font:400 4.5em AkzidenzGroteskPro-LightCn;
    margin-top: -17px;
}
.bitcoin-section{
    background: url(../media/images/section-4-bg.png) no-repeat;
    background-size: 100% 100%;
    background-color: #f1f4f9;
    height: 778px;
    width: 100%;
    padding-top: 53px;
}
.ipad{
    background: url(../media/images/tablet.png) no-repeat;
    background-size: 100% 100%;
    height: 519px;
    width: 980px;
    margin: 20px auto;
    padding-top: 27px;
}
.chart{
    background: url(../media/images/chart.png) no-repeat;
    background-size: 100% 100%;
    height: 339px;
    width: 775px;
    margin-top: 27px;
    margin-left: 111px;
}
/*======================== end bitcoin block styles ==========================*/


/*======================== block mavro-team styles ==========================*/

.mavro-team {
    height:716px;
    width:100%;
    background:url("../media/images/section-5-bg.jpg") no-repeat;
    background-size: 100% 100%;
}
.mavro-team-content {
    padding-top:55px;
    max-width: 1170px;
    margin:0 auto;
}
.mavro-team-header {
    text-transform: uppercase;
    color:#fff;
    margin:0 auto;
    text-align:center;
    font:400 4.5em AkzidenzGroteskPro-LightCn;
    margin-bottom: -34px;
}
.mavro-team-header:after {
    content: "";
    height: 23px;
    width: 1px;
    display: block;
    margin: 18px auto 0 auto;
    background: #fff;
}
.mavro-team-subheader {
    text-transform: uppercase;
    color: #fff;
    text-align: left;
    font: 400 2.5em AkzidenzGroteskPro-LightCn;
    letter-spacing: 0.2rem;
    margin: 0 0 55px 74px;
}
.mavro-team-subheader:before {
    content: "-";
    display: inline-block;
    color: #98e0e7;
    margin-right: 5px;
}
.mavro-team-content-text {
    max-width:1100px;
    color:#fff;
    text-align:center;
    font: 400 0.99em/1.5 PTSans-Regular;
}
.mavro-team-label {
    background: url(../media/images/team-mavro-label.png) no-repeat;
    background-size: contain;
    width: 98%;
    height: 140px;
    position: relative;
    top: -163px;
    left: -270px;
}
.notebook-img {
    background: url(../media/images/notebook.png) no-repeat;
    background-size: contain;
    background-position-x: center;
    width: 751px;
    height: 433px;
    margin: 0 auto;
    position: relative;
    top: -111px;
}
.play-video {
    background: url(../media/images/play-button.png) no-repeat;
    background-size: contain;
    width: 79px;
    height: 79px;
    border: none;
    outline: none;
    display: block;
    margin: 0 auto;
    top: 129px;
    position: relative;
    cursor:pointer;
}
/*====================== end block mavro-team styles ========================*/



/*====================== block statistic styles ========================*/

.block-statistic {
    background: #f1f4f9;
    height: 151px;
    width: 100%;
    padding-top: 84px;
}
.statistic-content {
    max-width: 1170px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}
.stat-point {
    min-width:50px;
    height:95px;
}
.stat-point > * {
    margin:0 auto;
}
.stat-point img {
    width:30px;
    height:30px;
    margin:0 auto;
    display: block;
}
.stat-point .number {
    font: 400 2.3em/1 AkzidenzGroteskPro-LightCn;
    color: #00bdc7;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5px;
}
.stat-point .number-title {
    font: 400 1.5em AkzidenzGroteskPro-LightCn;
    color:#292935;
    text-align: center;
}
/*==================== end block statistic styles ======================*/



/*==================== block download styles ======================*/

.block-download {
    background: #00bdc7;
    height:174px;
    width:100%;
    padding-top: 43px;
}
.button-wrap {
    height:49px;
    max-width: 615px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
h4.join {
    text-align:center;
    margin:0 auto;
    text-transform: uppercase;
    font: 400 1.5em AkzidenzGroteskPro-LightCn;
    color:#fff;
    margin-bottom: 41px;
}
.button-wrap > button {
    width:196px;
    height: 100%;
    font: bold 0.88em/1 PTSans;
    color: #000;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    border: none;
    border-radius:25px;
    background: #fff;
    transition:1s 0s ease;
}
.button-wrap > button:hover {
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
    color:#00bdc7;
}

/*================== end block download styles ====================*/




/*================== bottom menu styles ====================*/

.block-bottom-menu {
    height:117px;
    width:100%;
    background: #fff;
}
.bottom-menu-content {
    height:51px;
    max-width: 1170px;
    margin:0 auto;
    padding-top: 31px;
}
.logo-bottom {
    width:178px;
    height:51px;
    display:block;
    float:left;
    background:url(../media/images/logo-black.png);
    background-size: contain;
}
.bottom-nav {
    text-transform: uppercase;
    font: bold 0.82em/1 PTSans;
    color:#000;
    float:right;
}
.bottom-nav ul {
    padding-top: 18px;
    margin-left: 12px;
}
.bottom-nav > ul > li {
    display: inline-block;
    margin-right: 45px;
    vertical-align: middle;
}
.bottom-nav > ul > li:last-of-type {
    display: inline-block;
    margin-right:0;
}
.bottom-nav > ul > li a {
    color:black;
}

/*================ end bottom menu styles ==================*/



/*====================== footer styles =====================*/

footer {
    background: #f1f4f9;
    height: 125px;
    color: black;
}
.footer-content {
    max-width: 1170px;
    margin:0 auto;
}
.social-wrap {
    float:left;
    padding-top:40px;
}
.social-wrap p{
    font: 400 0.8em/1 PTSans-Regular;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.socials > * {
    display: inline-block;
    width:26px;
    height:26px;
}
.facebook-link {
    background: url(../media/images/facebook-logo.png);
    margin-right: 3px;
}
.twitter-link {
    background: url(../media/images/twitter-logo.png);
}
.contacts {
    width:210px;
    float:right;
    padding-top: 18px;
}
.contacts p {
    text-align: left;
    font: 400 0.85em/1 PTSans-Regular;
    color: #292935;
    margin-bottom: 12px;
}
.contacts p span {
    color: #00bdc7;
}

/*==================== end footer styles ===================*/


/*==================== adaptation styles ===================*/
@media screen and (max-width: 1200px) {
    body section,
    header,
    footer {
        width:96% !important;
        padding-left:2% !important;
        padding-right:2% !important;
    }
    .devices-img {
        width: 50%;
        top: 0;
    }
}
@media screen and (max-width: 1100px) {
    .man-img {
        width: 50%;
    }
}
@media screen and (max-width: 1024px) {
    .how-works {
        height: auto;
    }
    .how-works-header {
        text-shadow: 0 0 6px white;
    }
    .devices-img {
        width: 80%;
        margin: 0 auto;
        display: block;
        float: none;
    }
    .text-content {
        width: 70%;
        margin: 0 auto 25px auto;
        float: none;
        text-align: center;
        font-size: 1.1em;
        height: auto;
    }
    .invest-wrap p {
        font-size: 1.2em;
    }
    .invest:nth-of-type(2) {
        margin: 0 60px;
    }
    .balans-mavro {
        margin-top: 26px;
        font: bold 1em/1.5 PTSans;
    }
    .bitcoin-section {
        height: auto;
    }
    .ipad {
        width: 94%;
        margin: 20px auto 0 auto;
        background-size: contain;
    }
    .chart {
        width: 76%;
        margin-top: 2%;
        margin-left: 12%;
        background-size: contain;
    }
    .mavro-team-content-text {
        font: 400 1.2em/1.5 PTSans-Regular;
    }
    .block-statistic {
        padding-top: 160px;
    }
    .block-download,
    .block-bottom-menu,
    footer {
        font-size: 110%;
    }
    .contacts {
        width: 27%;
    }
    .calculator-header::after {
         background: none;
    }
}
@media screen and (max-width: 900px) {
    .top-nav > ul > li {
        margin-right: 20px;
    }
    .menu-sandwich {
        display: block;
    }
    .top-nav {
        display:none;
    }
    .menu-sandwich + .top-nav.nav-2 {
        display: block;
        position: fixed;
        top: 10px;
        width: 100%;
        background: rgba(18, 57, 152, 0.8);
    }
    .menu-sandwich + .top-nav.nav-2 ul {
        margin-left: 0;
    }
    .menu-sandwich + .top-nav.nav-2 ul li {
        display: block;
        width: 50%;
        margin: 0 auto;
        font-size: 170%;
        height: 40px;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .menu-sandwich + .top-nav.nav-2 > ul > li:last-of-type {
        display: block;
        margin: 0 auto;
    }
    header {
        width:96% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .man-img {
        display:none;
    }
    .news-content {
        padding-top: 110px;
        width: 73%;
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 129%;
    }
    .buttons-wrap {
        margin: 50px auto 0 auto;
    }
    button.register {
        width: 218px;
        float:none;
    }
    button.watch-video {
        float:none;
    }
    .how-works {
        background: none;
    }
}
@media screen and (max-width: 850px) {
    .invest:nth-of-type(2) {
        width: 330px;
        margin: 0 55px;
    }
    .block-statistic {
        padding-top: 225px;
    }
}
@media screen and (max-width: 800px) {
    .news-content {
        width: 465px;
    }
    .invest-wrap {
        height: auto;
    }
    .invest:nth-of-type(2) {
        width: 260px;
        margin: 0 50px;
    }
}
@media screen and (max-width: 768px) {
    .menu-sandwich {
        display: block;
    }
    .top-nav {
        display:none;
    }
    .menu-sandwich:hover + .top-nav.nav-2 {
        display: block;
        position: fixed;
        top: 10px;
        width: 100%;
        background: rgba(18, 57, 152, 0.8);
    }
    .menu-sandwich:hover + .top-nav.nav-2 ul {
        margin-left: 0;
    }
    .menu-sandwich:hover + .top-nav.nav-2 ul li {
        display: block;
        width: 50%;
        margin: 0 auto;
        font-size: 170%;
        height: 40px;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .menu-sandwich:hover + .top-nav.nav-2 > ul > li:last-of-type {
        display: block;
        margin: 0 auto;
    }
    .sign-in-wrap {
        z-index: -1;
    }
    .buttons-wrap {
        margin: 35px auto 0 auto;
        font-size: 82%;
    }
    section.block-news {
        background: url(../media/images/section-1-bg.jpg) no-repeat;
        background-size: inherit;
    }
    .statistic-content {
        font-size:140%;
        flex-direction: column;
    }
    .stat-point {
        height: 125px;
        margin-bottom:30px;
    }
    .block-statistic {
        height: auto;
    }
    .block-download {
        font-size: 140%;
        height: auto;
    }
    .button-wrap {
        flex-direction: column;
        margin: 0 auto;
        width: 44%;
        height: 150px;
    }
    .button-wrap button {
        width: 100%;
        margin-bottom: 15px;
    }
    .notebook-img {
        width: 80%;
    }
    .invest-wrap .invest {
        float:none;
        border:none;
        border-bottom:1px dotted #b4b7bc;
        width: 50%;
        margin: 0 auto 20px auto;
        padding-bottom: 20px;
    }
    .invest-wrap .invest:nth-of-type(2) {
        width: 50%;
        margin: 0 auto 20px auto;
    }
    .balans-mavro {
        margin-top: 9px;
        font: bold 0.9em/1.5 PTSans;
        padding-bottom: 5px;
    }
    .play-video {
        top: 85px;
    }
    footer {
        height: 140px;
    }
}
@media screen and (max-width: 610px) {
    .balans-mavro {
        font-size: 85%;
    }
    .button-wrap {
        height: 190px;
    }
    .button-wrap button{
        padding: 5px;
        margin-bottom: 10px;
        height: 50px;
    }
    .block-bottom-menu {
        padding-bottom: 20px;
    }
    .bottom-menu-content {
        margin-top: 0px;
        font: bold 0.9em/1.5 PTSans;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .button-menu-content > * {
        float:none;
    }
    .contacts {
        width: 40%;
    }
    .bitcoin-section {
        background: #f1f4f9;
    }
    .ipad {
        height: 290px;
    }
}
@media screen and (max-width: 540px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .mavro-logo {
        margin-top: 10px;
    }
    .sign-in-wrap {
        margin-top: 10px;
    }
    .menu-sandwich {
        position: fixed;
        right: 5px;
        top: 5px;
    }
}
@media screen and (max-width: 500px) {
    .devices-img {
        min-width: 80%;
    }
    .buttons-wrap {
        width: 310px;
        font-size: 95%;
    }
    .text-content {
        width: 96%;
    }
    .bitcoin-section {
        height: 500px;
    }
    .play-video {
        top: 50px;
    }
    .news-content {
        width: 96%;
        padding-top: 160px;
    }
    .news-header {
        font-size: 8em;
        margin: 0;
    }
    .button-wrap {
        width: 60%;
    }
    .mavro-team {
        height: 900px;
    }
    .notebook-img {
        height: 250px;
    }
    .calculator {
        background-size: 650% auto;
    }
    .block-statistic {
        padding-top: 50px;
    }
    .slider-wrap {
        margin-top: 20px;
    }
    .buttons-wrap {
        font-size: 80%;
    }
    .bottom-nav ul {
        margin-left:0;
        font-size: 95%;
    }
    .bottom-nav ul li {
        margin-right: 8px;
    }
    .try-mavro {
        float: none;
        margin: 0 auto;
    }
    .sign-in {
        display: block;
        margin: 11px auto 0 auto;
        float:none;
    }
}
@media screen and (max-width: 400px) {
    .block-statistic {
        padding-top: 100px;
    }
    .calculator {
        background-size: auto 29%;
    }
    .calculator .mouse-icon {
        left: 37%;
    }
    .mavro-team-content {
        font-size: 90%;
    }
    .mavro-team {
        height: 840px;
    }
    .block-statistic {
        padding-top: 75px;
    }
    .contacts {
        width: 60%;
    }
    .button-wrap {
        width: 90%;
    }
}
@media screen and (max-width: 350px) {
    .news-content {
        font-size: 80%;
        padding-top: 250px;
    }
    .block-statistic {
        padding-top: 50px;
    }
    section.block-news {
        height: 630px;
    }
    .section2-content {
        padding-top: 20px;
    }
    .how-works {
        font-size: 85%;
    }
    .how-works-header {
        margin-bottom: 10px;
        font-size: 3.5em;
    }
    .text-content-p1 {
        margin-bottom: 5px;
    }
    .text-content-p2 {
        margin-bottom: 5px;
    }
    .calculator {
        background:none;
    }
    .calculator-header {
        font-size: 3em;
    }
    .slider-wrap {
        margin-top: -15px;
    }
    .invest-wrap {
        margin-top: 20px;
    }
    .invest-wrap .invest:nth-of-type(1) .invest-content2 {
        padding-top: 20px;
    }
    .play-video {
        top: 20px;
    }
    .buttons-wrap {
        width: 197px;
        font-size: 100%;
    }
    .bitcoin-section {
        height: 360px;
        background: #f1f4f9;
    }
    .ipad {
        margin: 0 auto;
    }
    .chart {
        height: 92px;
        margin-top: -3%;
    }
    .mavro-team-content-text {
        font-size: 1.05em;
    }
    button.register {
        width: 189px;
        float: none;
        margin-left: 0;
    }
    button.watch-video {
        margin-top: 15px;
    }
    .balans-mavro {
        background-color: #123998;
    }
    .mavro-team {
        height: 730px;
        background-size: cover;
    }
    .mavro-team-header {
        font-size:3em;
    }
    .mavro-team-header:after {
        background: none;
    }
    .mavro-team-subheader {
        margin: 0 0 15px 15px;
        font-size:2em;
    }
    .mavro-team-content {
        padding-top: 30px;
    }
    .contacts {
        width: 55%;
    }
    .notebook-img {
        height: 166px;
    }
    .statistic-content {
        font-size: 120%;
    }
    .block-download {
        padding-top: 30px;
    }
    h4.join {
        margin-bottom: 20px;
        font-size: 1.2em;
    }
    .button-wrap {
        font-size: 75%;
    }
    .bottom-nav ul li {
        margin-right: 6px;
    }
    .text-content-p1 span {
        font: 400 2em AkzidenzGroteskPro-LightCn;
    }
    .stat-point {
        margin-bottom: 15px;
    }
}

/*========decoration=====*/

#menu-footer a:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #00bdc7;
    transition: width .4s ease-in-out;
}
#menu-footer a:hover:after,
#menu-footer a:focus:after {
    width: 100%;
}

#menu a:hover{
    color:#1abc9c;
}
.sign-in:hover {
    transition:1s 0s ease;
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
    background-color: #17a689;
}

button.watch-video:hover {
    transition:1s 0s ease;
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
    background-color: #00a5ae;
}
button.register:hover{
    color:#00a5ae;
}
.calculator .mouse-icon:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition:1s 0s ease;
}
.try-mavro-text{
    color:white;
}
.try-mavro-text:hover{
    color:#00a5ae;
}